[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wget = "*"
ipykernel = "*"
torch = "*"
pandas = "*"
transformers = "*"
numpy = "*"
jupyter = "*"
datasets = "*"
scipy = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.7"
